body {
    background: rgb( 50, 50, 100 );
}

/*
.menu {
    color: #FFF6;
    width: 150px;
    position: relative;
    top: 150px;

    margin: 0;
    padding: 0px;
    z-index: 1;
    display: none;
}

.menu ul {
    margin: 0px;
    padding: 0px 0px 0px 10px;
}

.menu ul li {
    width: 250px;
    text-align: center;
    font: 600 30px verdana;
    list-style: none outside none;
    text-transform: lowercase;
    padding: 10px 0 10px;
    background: #AAA3;
}

.menu-selected {
    color: #FFFF;
    background: #AAA7;
}
*/
.main {
    width: 970px;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0;
    margin: auto;
    background: black;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.gallery {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    background: #000a;
    overflow: hidden;
    z-index: 1;
    display: none;
}


.small-photo {
    float: left;
    padding: 9px;
 }

.small-photo img {
    width: 100px;
    height: 50px;
    border: 2px solid white;
}

.small-photo .add {
    font: 500 45px sans-serif;
    text-align: center;
    vertical-align: center;
    color: white;
    width: 100px;
    height: 50px;
    border: 2px solid white;
    padding: auto;
    background: #FFFFFF2A;
}

.gray-photo {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}


.board {
    width: 970px;
    height: 600px;
    border: 1px solid rgb( 255, 0, 0) ;
    position: absolute;
    background: url("http://nevsepic.com.ua/uploads/posts/2012-04/1334365172-449901-25-www.nevsepic.com.ua.jpg") round;
    top: 0;
}